{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="mt-3">
        <img src="{{ asset('build/images/arab-gc77f56528_1280.jpg') }}" alt="" class="w-100 img-fluid img-home">
    </div>
    <div class="container who-am-im">
        <section>
            <h1 class="text-secondary text-center mt-4"> Qui suis je ? </h1>
            <div class="row mt-5">
                <div class="col col-lg-6">
                    <img src="{{ asset('build/images/cavalry-gf3833f80b_1280.jpg') }}" alt="" class="w-50 img-home-2">
                </div>
                <div class="col text-white d-flex align-items-center">
                    <p class="">Oxane est une équithérapeute dévouée et passionnée, spécialisée dans l'utilisation de l'équitation
                       comme moyen thérapeutique. Son expérience approfondie en équithérapie et sa passion pour les chevaux
                       en font une professionnelle engagée à aider les patients à surmonter leurs défis et à améliorer
                       leur bien-être émotionnel.</p>
                </div>
            </div>
        </section>
    </div>

    <div class="border border-5 border-secondary mt-5"></div>
        <div class="container">
            <section>
                <h1 class="text-secondary text-center mt-5"> Mon expérience </h1>
                <div class="row mt-5">
                    <div class="col col-lg-6 text-white d-flex align-items-center">
                        <p class="">Oxane est une équithérapeute dévouée et passionnée, spécialisée dans l'utilisation de l'équitation
                            comme moyen thérapeutique. Son expérience approfondie en équithérapie et sa passion pour les chevaux
                            en font une professionnelle engagée à aider les patients à surmonter leurs défis et à améliorer
                            leur bien-être émotionnel.</p>
                    </div>
                    <div class="col d-flex justify-content-end ">
                        <img src="{{ asset('build/images/cavalry-gf3833f80b_1280.jpg') }}" alt="" class="w-50 img-home-2 img-fluid">
                    </div>
                </div>
            </section>
        </div>
    </div>
 {% endblock %}