<div class="row justify-content-center">

            <form method="post" action="{{ path('app_admin_horse_delete', {'id': horse.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce cheval ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ horse.id) }}">
                <button class="btn btn-secondary">Supprimer le cheval</button>
            </form>
            <div class="mt-2 mb-3 btn btn-secondary">
                <a href="{{ path('app_admin_horse_index') }}">Retour</a>
            </div>

</div>