
        <div>
            <ul class="nav flex-column nav-aside">
                {% set links = [
                    {'title': 'Informations personnelles',
                        'path': 'app_information',
                    },
                    {'title': 'Home',
                        'path': 'app_user',
                    },
                    {'title': 'Rendez-vous',
                        'path': 'app_appointement',
                    },
                ] %}

                {% for link in links %}
                    <li class="nav-item">
                        <a href="{{ path(link.path) }}" class="nav-link text-white
                {% if app.request.attributes.get('_route') == link.path %}actif{% endif %}"
                           {% if app.request.attributes.get('_route') == link.path %}aria-current="page"{% endif %}>
                            {{ link.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
