.img-home {
  height: 40rem;
}

.img-home-2 {
  height: 25rem;
}

.who-am-im {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.img-equitherapie {
  height: 15rem;
  border-radius: 12px;
}

.border {
  border-width: 2rem !important;
}

.text-equitherapie {
  margin-right: 3rem;
}

.equitherapie {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title-equitherapie {
  margin-bottom: 5rem;
}

.img-separator-equitherapie {
  height: 30rem;
}