.nav-aside {
  margin-top: 6rem;
  height: 100vh;
}
.nav-aside a {
  font-size: 1.7rem;
  font-family: "Epilogue", sans-serif;
  padding-right: 0;
}

.nav-aside li {
  margin-top: 3rem;
}

.actif {
  background-color: #E7D082;
}
