<div class="form-group d-grid col-6 mx-auto mt-3">
    <form method="post" action="{{ path('app_admin_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce message ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
        <button class="btn btn-secondary">Supprimer le message</button>
    </form>
    <div class="mt-2 mb-3 btn btn-secondary">
        <a href="{{ path('app_admin_contact_index') }}">Retour</a>
    </div>
</div>