{% extends 'user/base.html.twig' %}

{% block title %}Mes Rendez-vous{% endblock %}

{% block body %}
    <h1 class="text-secondary">Mes rendez-vous</h1>
<ul>
    {% for appointment in app.user.appointments %}
    <li class="text-white">{{ appointment.date.format('Y-m-d H:i:s') }}</li>
        <form method="post" action="{{ path('app_appointment_delete', {'id': appointment.id}) }}"
              onsubmit="return confirm('Etes-vous sur de vouloir annuler ce rendez-vous ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
            <button class="btn btn-secondary rounded-2 text-white">Annuler</button>
        </form>
    {% endfor %}
</ul>

{% endblock %}