{% extends 'user/base.html.twig' %}

{% block title %}Nouveau rendez-vous{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group d-grid col-6 mx-auto text-white mt-3">
        {{ form_row(form.appointments) }}
    </div>
    <div class="form-group d-grid col-6 mx-auto mt-3 ">
        <button type="submit" class="btn btn-secondary text-primary">S'enregistrer</button>
    </div>
    {{ form_end(form) }}


{% endblock %}